
$success: #1b3e90; // Color utilizado para en navbar y footes

$primary: #cc213dd8; //Color utilizado para los botones 

$secondary:#39333A; //Color mayoritariamente utilizado para el texto

$info: #FFFFFF; //Color utilizado para el texto que se encuentra sobre colores


@import "scss/bootstrap.scss";